* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*
AMARILLO: #f2bb37
VERDE: #1b714c
GRIS: #656567
*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1b714c;
}

.login-container {
    text-align: center;
    color: #fff;
}

h2 {
    color: #ccc;
    margin-bottom: 20px;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 12px;
    color: #333;
    align-self: flex-start;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}